In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import scipy
from scipy import stats

# Set 1 -Q1

In [4]:
df =pd.read_excel('Book3.xlsx')
df

    Unnamed: 0   Name of company  Measure X
0          NaN     Allied Signal     0.2423
1          NaN     Bankers Trust     0.2553
2          NaN     General Mills     0.2541
3          NaN    ITT Industries     0.2414
4          NaN  J.P.Morgan & Co.     0.2962
5          NaN   Lehman Brothers     0.2825
6          NaN          Marriott     0.2581
7          NaN               MCI     0.2439
8          NaN     Merrill Lynch     0.4026
9          NaN         Microsoft     0.3295
10         NaN    Morgan Stanley     0.9136
11         NaN  Sun Microsystems     0.2599
12         NaN         Travelers     0.3942
13         NaN        US Airways     0.2671
14         NaN    Warner-Lambert     0.3500
15         NaN               NaN        NaN
16         NaN                          NaN
17         NaN               NaN        NaN
18         NaN                          NaN
19         NaN               NaN        NaN
20         NaN                          NaN
21         NaN               NaN        NaN
22         NaN                          NaN
23         NaN               NaN        NaN
24         NaN                          NaN
25         NaN               NaN        NaN
26         NaN                          NaN
27         NaN               NaN        NaN
28         NaN                          NaN
29         NaN               NaN        NaN
30         NaN                          NaN
31         NaN               NaN        NaN
32         NaN                          NaN
33         NaN               NaN        NaN
34         NaN                          NaN
35         NaN               NaN        NaN
36         NaN                          NaN
37         NaN               NaN        NaN
38         NaN                          NaN
39         NaN               NaN        NaN
40         NaN                          NaN
41         NaN               NaN        NaN
42         NaN                          NaN
43         NaN               NaN        NaN
44         NaN                          NaN
45         NaN               NaN        NaN
46         NaN                          NaN
47         NaN               NaN        NaN
48         NaN                          NaN
49         NaN               NaN        NaN
50         NaN                          NaN
51         NaN               NaN        NaN
52         NaN                          NaN

In [5]:
#Calculation of population mean of data (μ)
df.mean()

Unnamed: 0         NaN
Measure X     0.332713
dtype: float64

In [6]:
#Calculation of Variance of data(σ^2)
df.var()

Unnamed: 0         NaN
Measure X     0.028715
dtype: float64

In [7]:
#Calculation of Standard deviation of data(σ)
df.std()

Unnamed: 0         NaN
Measure X     0.169454
dtype: float64

# Q4

In [8]:
df_1=pd.read_excel('Book4.xlsx')
df_1

       x  P(x)
0  -2000   0.1
1  -1000   0.1
2      0   0.2
3   1000   0.2
4   2000   0.3
5   3000   0.1
6    NaN   NaN
7          NaN

In [9]:
#Calculation of longterm average earnings of data- mean of data (μ)
df_1.mean()

P(x)    0.166667
dtype: float64

In [10]:
#Calculation of best measure for risk of data-Standard deviation of data(σ)
df_1.std()

P(x)    0.08165
dtype: float64

# Set 2_Q1

In [11]:
# calculation of the probability of servicing time to be more than 50 min
1-stats.norm.cdf(50,45,8)

0.26598552904870054

# Set 2_Q2_B

In [12]:
# calculation of the proprtion of no employees below 30
stats.norm.cdf(30,38,6)

0.09121121972586788

In [13]:
#No of employees below the age 30.  n=400
0.091*400

36.4

# Set 2_Q4

In [7]:
# finding 99% confidence interval
stats.norm.interval(.99,100,20)

(48.48341392902199, 151.516586070978)

# Set 2_Q5_A

In [8]:
#calculation of company's mean profits for two devisions in rupees
#mean of Profit 1 =5;Mean of Profit 2 =7
#Company's annual profit mean in million dollers = 5+7 =12
#annual profit mean in Rupees(mean in million dollers*45)  1$= 45 rupees
12*45

540

In [9]:
#calculation of company's standard deviation of profits for two devisions in rupees
#variance of Profit 1 =9;variance of Profit 2 =16
#variance of (X+Y)=Variance(X)+Variance(Y)     #SD= square root of variance
#annual profit SD in Rupees(SD in million dollers*45)  1$= 45 rupees
np.sqrt((9)+(16))*45

225.0

In [10]:
#calculation of 95% confident profit range of division 2
stats.norm.interval(.95,540,225)

(99.00810347848784, 980.9918965215122)

# Set 2_Q5_B

In [11]:
#calculation of 5th percentile profit range of division 2
np.round(stats.norm.ppf(0.05,540,225))

170.0

# Set 2_Q5_C

In [12]:
#calculation of probability of devision 1 making loss
stats.norm.cdf(0,(5*45),(3*45))

0.0477903522728147

In [13]:
#calculation of probability of devision 2 making loss
stats.norm.cdf(0,(7*45),(4*45))

0.040059156863817086

In [14]:
#Division 1 have more probability of making loss

# Set_3_Q8

In [15]:
#caluclaation of z score for 95% confidence interval
stats.norm.ppf(.975)

1.959963984540054

In [16]:
#Sample size calculation from a infinite poupulation(confidence interval =95%;Margin of error=4%;Population proportion =50%)
# formula S= Z^2 × P ×  (1−P)/M2
((stats.norm.ppf(.975))**2)*(0.5)*((1-0.5)/(0.04)**2)

600.2279407334571

# Set_3_Q9

In [17]:
#caluclaation of z score for 98% confidence interval
stats.norm.ppf(.99)

2.3263478740408408

In [18]:
#Sample size calculation from a infinite poupulation(confidence interval =98%;Margin of error=4%;Population proportion =50%)
# formula S= Z^2 × P ×  (1−P)/M2
((stats.norm.ppf(.99))**2)*(0.5)*((1-0.5)/(0.04)**2)

845.6085048522405

# Set_4_Q3

In [19]:
#Probability of mean trasaction amount will not in b/w 45 to 55
1-(stats.norm.cdf(55,50,4)-stats.norm.cdf(45,50,4))

0.2112995473337107