In [3]:
import pandas as pd
import scipy.stats as stats
import numpy as np

# Q no :-1

In [4]:
df_Q1=pd.read_csv('Cutlets.csv')

In [6]:
df_Q1

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [26]:
#from data
#Null hypothesis: there is no difference b/w cultelts size(µ1 =µ2)
#Alternative hypothesis: There is significance difference b/w cutlets size of 2 Units(µ1≠µ2)

In [7]:
# To find the similarity between two independent samples so,we should use 2 Sample t-test.
stats.ttest_ind(df_Q1['Unit A'],df_Q1['Unit B'])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [8]:
#As P_value(0.47) is greater than 0.05,we can accept Null hypothesis and 
#can say that there is not any significant difference b/w cutlets size of two units.

# Q no :- 2

In [9]:
df_Q2=pd.read_csv('LabTAT.csv')

In [10]:
df_Q2

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [11]:
#from given data we find the following things
#Null hypothesis: there is no difference b/w average Turn Around Time of four laboratories(µ1=µ2=µ3=µ4)
#Alternative hypothesis: Atleast one laboratory mean time is different from others.

In [12]:
# To find the similarity between more than two independent samples,we should use ANOVA Test.
stats.f_oneway(df_Q2.iloc[:,0], df_Q2.iloc[:,1],df_Q2.iloc[:,2],df_Q2.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
# Here  P_value is greater than 0.05,we can accept Null hypothesis and 
#can say that there is not any significant difference b/w TAT of laboratories.

# Q no : - 3

In [13]:
df_Q3=pd.read_csv('BuyerRatio.csv')

In [14]:
df_Q3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [16]:
# from given data we know these things
#Null hypothesis: there is no significant difference b/w male and female buyer ratios of four regions
#Alternative hypothesis: Atleast one region has different male and female ratio.

In [17]:
df_Q3=df_Q3.drop(['Observed Values'],axis=1)

In [18]:
df_Q3

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [19]:
# To find the similarity between proportions of more than two independent samples,we should use Chi_Square test.
stats.chi2_contingency(df_Q3)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
#As P_value(0.66) is greater than 0.05,we can accept Null hypothesis and 
#can say that there is not any significant difference b/w male female ratio of all four regions.

# Qno :- 4

In [20]:
df_Q4=pd.read_csv('Costomer+OrderForm.csv')

In [21]:
df_Q4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [22]:
#Null hypothesis: there is no significant difference b/w defective percentages of four centers.
#Alternative hypothesis: Atleast one center has different percentage of diffective customer order forms.

In [23]:
df_Q4_Table=pd.concat([df_Q4.Phillippines.value_counts(),df_Q4.Indonesia.value_counts(),df_Q4.Malta.value_counts(),df_Q4.India.value_counts()],axis=1)
df_Q4_Table

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [24]:
# To find the similarity between proportions of more than two independent samples,we should use Chi_Square test.
Chisquares_results=stats.chi2_contingency(df_Q4_Table)
Chisquares_results

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [25]:
#As P_value(0.277) is greater than 0.05,we can accept Null hypothesis and 
#can say that there is not any significant difference b/w defective percentages of four centers.